body {
    font-family: 'Caveat', cursive;
}

header {
    position: fixed;
    width: 100vw;
    background: white;
    font-family: 'Caveat', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

header > h1 {
    font-size: 2rem;
}

header .Search {
    display: flex;
    margin: auto;
}

.Search input {
    width: 300px;
    font-family: 'Lato' sans-serif;
    padding: 12px;
    border: none;
    border-radius: 5px;
}

.Slogan {
    font-family: 'Caveat', cursive;
    color: #fff;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(Flowers3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.Slogan > p {
    font-size: 4rem;
    text-align: center;
}

section {
    font-size: 1.5rem;
    margin: 1rem;
    width: 80%;
    margin: 5rem auto;
}

.Products {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 30px;
    height: 80px;
}

.Products nav {
    display: flex;
    width: 100%;
    transition: 1s;
}

.Products nav:hover {
    background: black;
    color: white;
}

.Products ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.Products li {
    cursor: pointer;
    display: flex;
    padding: 25px 0;
    transition: 1s;
}

.Products li:hover {
    color: #ff4d4d;
}

.Suscribe-main {
    height: 550px;
    background-image: url(Flowers.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 150px;
}

.Suscribe {
    background-color: #f9f9f9;
    position: relative;
    margin: auto;
    width: 40%;
    border: 2px #f9f9f9 solid;
    border-radius: 5px;
    padding: 30px;
    text-align: center;
    transition: 0.5s;
}

.Suscribe:hover {
    background: black;
    color: white;
    border: black;
}

.Suscribe h1 {
    margin: 50px auto 35px;
    font-size: 5em;
}

.Suscribe p {
    font-family: 'Lato', sans-serif;
}

.Email {
    font-family: 'Lato', sans-serif;
    width: 50%;
    margin: 15px auto;
    border: 1px solid black;
    font-size: 16px;
    border-radius: 15px;
    padding: 10px 15px;
    text-align: center;
    caret-color: #ff4d4d;
}

.Button {
    display: flex;
    align-items: center;
    margin: 10px auto 20px;
    padding: 15px 25px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    background: #ff9494;
    cursor: pointer;
    transition: 0.5s;
}

.Button:hover {
    background: #ff4d4d;
    color: white;
}

@media screen and (max-width: 586px) {
    header {
        padding: 10px;
        height: 40px;
    }
    header > h1,
    .Products ul li {
        font-size: 1.3rem;
        padding: 0;
        align-items: center;
    }

    .Products ul {
        gap: 0;
    }

    .Slogan > p {
        font-size: 3rem;
    }
}
